html {
  font-size: calc(60% + 0.8vmin);
}

* {
  font-size: 1rem;
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  width: 30px;
  margin: 20px;
}

.flag {
  width: 25px;
  margin: 5px;
}

.opaque {
  opacity: 100%;
}

.fade {
  opacity: 50%;
}

.invisible-button {
  border: none;
  background-color: transparent;
  width: 20px;
  margin: 10px;
}

.header-placeholder {
  height: 80px;
}
